<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="">
    <meta name="Author" content="">
    <meta name="Keywords" content="" />

    <!-- Title -->
    <title> Render | {% block pagetitle %} {% endblock %} </title>

    <!-- Django static files -->
    {% load static %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/payhublogodark.png' %}" type="image/x-icon"
        style="height: 00px; width: auto;" />

    <!-- Icons css -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">

    <!-- Bootstrap css -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--  Custom Scroll bar-->
    <link href="{% static 'assets/plugins/mscrollbar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

    <!--  Sidebar css -->
    <link href="{% static 'assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">

    <!--- Internal Morris css-->
    <link href="{% static 'assets/plugins/morris.js/morris.css' %}" rel="stylesheet">

    <!--- Style css --->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/boxed.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/dark-boxed.css' %}" rel="stylesheet">

    <!--- Dark-mode css --->
    <link href="{% static 'assets/css/style-dark.css' %}" rel="stylesheet">

    <!---Skinmodes css-->
    <link href="{% static 'assets/css/skin-modes.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Custom styles for business admin dasbhoard -->
    <link href="{% static 'assets/css/business_admin_styles.css' %}" rel="stylesheet" />
    <!-- datatabls -->
    <link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.3.9/css/autoFill.dataTables.min.css">


</head>

<body class="main-body">
    {% if messages %}
    <div class="alert-container col-md-6">
        <!-- message -->
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show py-3 mt-1" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <span class="close-btn" onclick="hideAlert()"><i class="bi bi-x-lg"></i></span>
    </div>
    {% endif %}
    <!-- Page -->
    <div class="page">

        <!-- main-header opened -->
        <div class="main-header nav nav-item hor-header">
            <div class="container">
                <div class="main-header-left ">
                    <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                    <a class="header-brand" href="">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-dark"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-1"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-dark"
                            style="height: 80px; width: auto;">
                    </a>
                    <div class="main-header-center  ms-4">
                        <input class="form-control" placeholder="Search for anything..." type="search"><button
                            class="btn"><i class="fe fe-search"></i></button>
                    </div>

                </div><!-- search -->
                <div class="main-header-right">
                    <ul class="nav nav-item  navbar-nav-right ms-auto">
                        <li class="nav-link" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="reset" class="btn btn-default">
                                            <i class="fas fa-times"></i>
                                        </button>
                                        <button type="submit" class="btn btn-default nav-link resp-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown nav-item main-header-message ">
                            <a class="new nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg><span class=" pulse-danger"></span></a>
                            <div class="dropdown-menu">
                                <div class="menu-header-content bg-primary text-start">
                                    <div class="d-flex">
                                        <h6 class="dropdown-title mb-1 tx-15 text-white fw-semibold">Messages</h6>
                                        <span class="badge rounded-pill bg-warning ms-auto my-auto float-end">Mark All
                                            Read</span>
                                    </div>
                                    <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have no
                                        unread messages</p>
                                </div>

                                <div class="text-center dropdown-footer">
                                    <a href="text-center">VIEW ALL</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item full-screen fullscreen-button">
                            <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path
                                        d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                                    </path>
                                </svg></a>
                        </li>
                        <li class="dropdown main-profile-menu nav nav-item nav-link">

                            <a class="profile-user d-flex" href=""><img alt=""
                                    src="{% if user.photo %}{{user.photo.url}}{%else%}{% static 'assets/img/user.png' %}{%endif%}"></a>
                            <div class="dropdown-menu">
                                <div class="main-header-profile bg-primary p-3">
                                    <div class="d-flex wd-100p">
                                        <div class="main-img-user"><img alt=""
                                                src="{% if user.photo %}{{user.photo.url}}{%else%}{% static 'assets/img/user.png' %}{%endif%}"
                                                class="">
                                        </div>

                                        <div class="ms-3 my-auto">
                                            <h6>{{ request.user }}</h6>
                                            {% if request.user.is_staff and request.user.is_superuser %}
                                            <span>Render Admin</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <a class="dropdown-item" href=""><i class="bx bx-user-circle"></i>Change Password</a>
                                <a class="dropdown-item" href=""><i class="bx bx-cog"></i> Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i
                                        class="bx bx-log-out"></i> Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /main-header -->

        <!-- centerlogo-header opened -->
        <div class="main-header nav nav-item hor-header top-header">
            <div class="container">
                <div class="main-header-left ">
                    <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                    <a class="header-brand" href="index.html">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-dark"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-1"
                            style="height: 80px; width: auto;">
                        <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-dark"
                            style="height: 80px; width: auto;">
                    </a>
                    <div class="main-header-center  ml-4">
                        <input class="form-control" placeholder="Search for anything..." type="search"><button
                            class="btn"><i class="fe fe-search"></i></button>
                    </div>
                </div><!-- search -->
                <a class="header-brand header-brand2 d-none d-lg-block" href="">
                    <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-dark"
                        style="height: 80px; width: auto;">
                    <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo"
                        style="height: 80px; width: auto;">
                    <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-1"
                        style="height: 80px; width: auto;">
                    <img src="{% static 'assets/img/brand/payhublogodark.png' %}" class="desktop-logo-dark"
                        style="height: 80px; width: auto;">
                </a>
                <div class="main-header-right">
                    <ul class="nav nav-item  navbar-nav-right ml-auto">
                        <li class="nav">
                            <div class="dropdown  nav-itemd-none d-md-flex">
                                <a href="#" class="d-flex  nav-item country-flag1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="avatar country-Flag mr-0 align-self-center bg-transparent"><img
                                            src="{% static 'assets/img/flags/ghana-flag.jpg' %}" alt="img"></span>
                                    <div class="my-auto">
                                        <strong class="mr-2 ml-2 my-auto">English</strong>
                                    </div>
                                </a>

                            </div>
                        </li>
                        <li class="nav-link" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="reset" class="btn btn-default">
                                            <i class="fas fa-times"></i>
                                        </button>
                                        <button type="submit" class="btn btn-default nav-link resp-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown nav-item main-header-message ">
                            <a class="new nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg><span class=" pulse-danger"></span></a>
                            <div class="dropdown-menu">
                                <div class="menu-header-content bg-primary text-left">
                                    <div class="d-flex">
                                        <h6 class="dropdown-title mb-1 tx-15 text-white font-weight-semibold">Messages
                                        </h6>
                                        <span class="badge badge-pill badge-warning ml-auto my-auto float-right">Mark
                                            All Read</span>
                                    </div>
                                    <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have no
                                        unread messages</p>
                                </div>

                                <div class="text-center dropdown-footer">
                                    <a href="text-center">VIEW ALL</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown nav-item main-header-notification">
                            <a class="new nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg><span class=" pulse"></span></a>
                            <div class="dropdown-menu">
                                <div class="menu-header-content bg-primary text-left">
                                    <div class="d-flex">
                                        <h6 class="dropdown-title mb-1 tx-15 text-white font-weight-semibold">
                                            Notifications</h6>
                                        <span class="badge badge-pill badge-warning ml-auto my-auto float-right">Mark
                                            All Read</span>
                                    </div>
                                    <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have 4
                                        unread Notifications</p>
                                </div>

                                <div class="dropdown-footer">
                                    <a href="">VIEW ALL</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item full-screen fullscreen-button">
                            <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path
                                        d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                                    </path>
                                </svg></a>
                        </li>

                        <li class="dropdown main-header-message right-toggle">
                            <a class="nav-link pr-0" data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /centerlogo-header closed -->

        <!--Horizontal-main -->
        <div class="sticky">
            <div class="horizontal-main hor-menu clearfix side-header">
                <div class="horizontal-mainwrapper container clearfix">
                    <!--Nav-->
                    <nav class="horizontalMenu clearfix">
                        <ul class="horizontalMenu-list">
                            <!-- dashboard tab starts -->
                            <li aria-haspopup="true"><a href="{% url 'dashboard:dashboard' %}" class=""><svg
                                        xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3" />
                                        <path
                                            d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z" />
                                    </svg>Dashboard</a>
                            </li>
                            <!-- dashboard tabs ends -->

                            <!-- video tab starts -->
                            <li aria-haspopup="true"><a href="#" class="sub-icon">
                                    <i class="fas fa-cogs"></i> Settings<i
                                        class="fe fe-chevron-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="" class="slide-item">Accounts</a></li>
                                </ul>
                            </li>
                            <!-- video tab ends -->

                            <li aria-haspopup="true"><a href="javascript:void(0)" class="sub-icon">
                                    <i class="fa fa-list-alt"></i> Transactions<i
                                        class="fe fe-chevron-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:transactions' %}"
                                            class="slide-item">Transactions</a>
                                    </li>
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:make_payment' %}"
                                            class="slide-item">Make Payment</a></li>
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:receive_payment' %}"
                                            class="slide-item">Receive Payment</a></li>
                                </ul>
                            </li>
                            <li aria-haspopup="true"><a href="#" class="sub-icon">
                                    <i class="fa fa-book"></i> Services<i
                                        class="fe fe-chevron-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="" class="slide-item">Today</a>
                                    </li>
                                    <li aria-haspopup="true"><a href="" class="slide-item">This Week</a>
                                    </li>
                                    <li aria-haspopup="true"><a href="" class="slide-item">This Month</a>
                                    </li>

                                </ul>
                            </li>

                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"> <i class="fe fe-users"></i>
                                    Accounts <i class="fe fe-chevron-down horizontal-icon"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:customers' %}"
                                            class="slide-item">Customers</a>
                                    </li>
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:labourers' %}"
                                            class="slide-item">Labourers</a>
                                    </li>
                                    <li aria-haspopup="true"><a href="{% url 'dashboard:admins' %}"
                                            class="slide-item">Administrators</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </nav>
                    <!--Nav-->

                </div>
            </div>
        </div>
        <!--Horizontal-main -->


        {% block content %} {% endblock %}


        <!-- Footer opened -->
        <div class="main-footer ht-40">
            <div class="container-fluid pd-t-0-f ht-100p">
                <span>Copyright © 2022 <a href="javascript:void(0)">TenDevs {/10Devs} </a>. All rights
                    reserved.</span>
            </div>
        </div>
        <!-- Footer closed -->

    </div>
    <!-- End Page -->

    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    <!-- JQuery min js -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Bundle js -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Ionicons js -->
    <script src="{% static 'assets/plugins/ionicons/ionicons.js' %}"></script>

    <!-- Moment js -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}"></script>

    <!--Internal Sparkline js -->
    <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Moment js -->
    <script src="{% static 'assets/plugins/raphael/raphael.min.js' %}"></script>

    <!-- Internal Piety js -->
    <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>

    <!-- Rating js-->
    <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>
    <script src="{% static 'assets/plugins/rating/jquery.barrating.js' %}"></script>

    <!-- P-scroll js -->
    <script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js' %}"></script>

    <!-- Sidemenu js-->
    <script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>
    <script src="{% static 'assets/plugins/sidebar/sidebar-custom.js' %}"></script>

    <!-- Eva-icons js -->
    <script src="{% static 'assets/js/eva-icons.min.js' %}"></script>

    <!--Internal Apexchart js-->
    <script src="{% static 'assets/js/apexcharts.js' %}"></script>

    <!-- Horizontalmenu js-->
    <script src="{% static 'assets/plugins/horizontal-menu/horizontal-menu-2/horizontal-menu.js' %}"></script>

    <!-- Sticky js -->
    <script src="{% static 'assets/js/sticky.js' %}"></script>

    <!-- Internal Map -->
    <script src="{% static 'assets/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>

    <!-- Internal Chart js -->
    <script src="{% static 'assets/plugins/chart.js/Chart.bundle.min.js' %}"></script>

    <!--Internal  index js -->
    <script src="{% static 'assets/js/index.js' %}"></script>
    <script src="{% static 'assets/js/jquery.vmap.sampledata.js' %}"></script>

    <!-- custom js -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/jquery.vmap.sampledata.js' %}"></script>


    <!-- Custom script for business admin dasbhoard -->
    <script src="{% static 'assets/js/utility_functions.js' %}"></script>

    <!-- data tables -->
    <script src="https://cdn.datatables.net/autofill/2.3.9/js/dataTables.autoFill.min.js"></script>

</body>

</html>